/* For desktop */
#error-page {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
  }
  
  #error-page h1 {
    color: #e74c3c;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  #error-page p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  #error-page i {
    color: #e74c3c;
    font-style: italic;
  }
  
  /* For tablets */
  @media only screen and (max-width: 768px) {
    #error-page {
      max-width: 500px;
      padding: 15px;
    }
    
    #error-page h1 {
      font-size: 30px;
      margin-bottom: 8px;
    }
  
    #error-page p {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  
  /* For mobile phones */
  @media only screen and (max-width: 480px) {
    #error-page {
      max-width: 300px;
      padding: 10px;
    }
    
    #error-page h1 {
      font-size: 24px;
      margin-bottom: 5px;
    }
  
    #error-page p {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  
  