* {
    font-family: Helvetica, Arial, sans-serif ;
  }
  
  body {
    padding: 5%;
  }
  
  input {
    color: grey;
    font-size: 1.2rem;
    width: 100%;
  }
  
  .card {
    align-content: center;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
  
     /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s;
  
  }
  
  .card p {
    padding: 5px;
    text-align: center;
  }
  
  .card img {
    max-height: 170px;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }